# Pandas exercises

Before attempting this exercise, make sure you've read through the first four pages of [Chapter 3](https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html) of the Python Data Science Handbook.

We're going to be using a dataset about movies to try out processing some data with Pandas.

We start with some standard imports:

In [2]:
import ast
import pandas as pd
import numpy as np

Then we load the data from a local file and checkout the data:

In [5]:
df = pd.read_csv('../Data/movies_metadata.csv').dropna(axis=1, how='all')
df.head()

,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862.0,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844.0,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602.0,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357.0,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862.0,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

## Exploring the data

This dataset was obtained from [Kaggle](https://www.kaggle.com/rounakbanik/the-movies-dataset/home) who downloaded it
through the TMDB API. 

The movies available in this dataset are in correspondence with the movies that are listed in the MovieLens 
Latest Full Dataset.

Let's see what data we have:

In [6]:
df.shape

(45453, 23)

Twenty-three columns of data for over 45,000 movies is going be a lot to look at but let's start by looking at what the columns represent:

In [7]:
df.columns

Index(['belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

Here's an explanation of each column:
- __belongs_to_collection__: A stringified dictionary that identifies the collection that a movie belongs to (if any).
- __budget__: The budget of the movie in dollars.
- __genres__: A stringified list of dictionaries that list out all the genres associated with the movie.
- __homepage__: The Official Homepage of the movie.
- __id__: An arbitrary ID for the movie.
- __imdb_id__: The IMDB ID of the movie.
- __original_language__: The language in which the movie was filmed.
- __original_title__: The title of the movie in its original language.
- __overview__: A blurb of the movie.
- __popularity__: The Popularity Score assigned by TMDB.
- __poster_path__: The URL of the poster image (relative to http://image.tmdb.org/t/p/w185/).
- __production_companies__: A stringified list of production companies involved with the making of the movie.
- __production_countries__: A stringified list of countries where the movie was filmed or produced.
- __release_date__: Theatrical release date of the movie.
- __revenue__: World-wide revenue of the movie in dollars.
- __runtime__: Duration of the movie in minutes.
- __spoken_languages__: A stringified list of spoken languages in the film.
- __status__: Released, To Be Released, Announced, etc.
- __tagline__: The tagline of the movie.
- __title__: The official title of the movie.
- __video__: Indicates if there is a video present of the movie with TMDB.
- __vote_average__: The average rating of the movie on TMDB.
- __vote_count__: The number of votes by users, as counted by TMDB.

## Filtering the data 

Let's start by only looking at films that cost over a million dollars to make. 

Create a variable called `budget_df` that contains all columns for the movies whose budget was over a million dollars.

In [ ]:
budget_df =  []
budget_df.shape

With this more manageable list of 7000+ movies, I'd like to have a way to look up the budget of a particular movie.

Create a Series object called `budget_lookup` such that you are able to use a call to `budget_lookup['Dead Presidents']` to find the budget of that movie.

In [ ]:
budget_lookup = []
budget_lookup['Dead Presidents']

I have figured out that the first (alphabetically) movie whose title starts with an 'A' is 'A Bag of Hammers' and the last movie that starts with a 'B' is 'Byzantium'.

In [ ]:
budget_lookup[budget_lookup.index.str.startswith('A')].sort_index()[[0]]

In [ ]:
budget_lookup[budget_lookup.index.str.startswith('B')].sort_index()[[-1]]

Use that knowledge to create a series that contains budget informations for all the movies that start with an 'A' or a 'B'. 

HINT: No need to use startswith like I did above, just use the movie titles to do a slice.

In [ ]:
budget_lookup_as_and_bs = []
budget_lookup_as_and_bs.shape

## Numbers as indices

Enough about movie budgets, it's time to budget my time instead. Because I schedule my day to the minute, I like to be able to look up movies by their runtime. So that when I have a spare two hours and 34 minutes, I can find all the movies that would fit precisely in that time slot (popcorn-making time is budgeted separately).

Create a Series called `time_scheduler` that is indexed by runtime and has the movie's title as its values. Note that you will need to use `sort_index()` in order to be able to look up movies by their duration.

While you're at it, remove any movie that is less than 10 minutes (can't get into it if it's too short) or longer than 3 hours (who's got time for that).

HINT: You'll have to use `pd.to_numeric` to force the runtimes to be numbers (instead of numbers in a string)

In [ ]:
time_scheduler = []
time_scheduler

Now let's find all those two-hour-and-34-minute movies:

In [ ]:
time_scheduler[154]

But what is the 154th shortest movie in this collection?

In [ ]:
movie_number_154 = time_scheduler.iloc[154]
movie_number_154

## Dealing with multiple DataFrames

Forget about budget or runtimes as criteria for selecting a movie, let's take a look at popular opinion. Our dataset has two relevant columns: vote_average and vote_count.

Let's create a variable called `df_high_rated` that only contains movies that have received more than 20 votes and whose average score is greater than 8.

In [ ]:
df_highly_voted = []
df_high_rated = []
df_high_rated[['title', 'vote_average', 'vote_count']]

Here we have 178 high-quality movies, at least according to some people. But what about **my** opinion? 

Here are my favorite movies and their relative scores, create a DataFrame called `compare_votes` that contains the title as an index and both the vote_average and my_vote as its columns. Also only keep the movies that are both my favorites and popular favorites.

HINT: You'll need to create two Series, one for my ratings and one that maps titles to vote_average.

In [ ]:
{
    "Star Wars": 9,
    "Paris is Burning": 8,
    "Dead Poets Society": 7,
    "The Empire Strikes Back": 9.5,
    "The Shining": 8,
    "Return of the Jedi": 8,
    "1941": 8,
    "Forrest Gump": 7.5,
}
compare_votes

There should be only 6 movies remaining.

Now add a column to `compare_votes` that measures the percentage difference between my rating and the popular rating for each movie. You'll need to take the different between the vote_average and my_vote and divide it by my_vote.

In [ ]:
compare_votes